.filter-dropdown-wrapper {
  width: 200px;
  position: relative;
  z-index: 3;
}

.filter-header {
  background-color: #ffffff;
  border-radius: 22px;
  padding: 7px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 15px #b7b7b738;
}

.filter-dropdown-title {
  width: 100%;
  text-align: center;
  color: #676666;
  font-size: 14px;
}

.chevron-icon {
  width: 15px;
  height: 15px;
  color: #aeaeb2;
}

.filter-dropdown-options-container {
  margin-top: 5px;
  background-color: white;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  padding: 7px;
  position: absolute;
  box-shadow: 0px 4px 15px #b7b7b738;
}

.filter-header:hover {
  cursor: pointer;
}

.selected-dropdown-option {
  background-color: #dddddd;
  border-radius: 22px;
  padding: 6px 15px;
  font-weight: bold;
  font-size: 14px;
}

.selected-dropdown-option:hover {
  cursor: pointer;
}

.dropdown-option {
  border-radius: 22px;
  padding: 6px 15px;
  font-size: 14px;
  color: #717171;
}

.dropdown-option:hover {
  cursor: pointer;
}

/* Responsiveness */

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .filter-dropdown-wrapper {
    width: 210px;
    flex-shrink: 0;
    margin-bottom: 20px;
  }

  .filter-header {
    border-radius: 22px;
    padding: 10px 18px;
  }

  .filter-dropdown-title {
    font-size: 14px;
  }

  .chevron-icon {
    width: 16px;
    height: 16px;
  }

  .filter-dropdown-options-container {
    margin-top: 8px;
    border-radius: 12px;
    padding: 8px;
  }

  .selected-dropdown-option {
    border-radius: 22px;
    padding: 7px 16px;
    font-size: 14px;
  }

  .dropdown-option {
    border-radius: 22px;
    padding: 7px 16px;
    font-size: 14px;
  }
}

/* Laptop */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .filter-dropdown-wrapper {
    width: 200px;
  }

  .filter-header {
    padding: 10px 25px;
    border-radius: 22px;
  }

  .filter-dropdown-title {
    font-size: 13px;
  }

  .chevron-icon {
    width: 14px;
    height: 14px;
  }

  .filter-dropdown-options-container {
    border-radius: 10px;
    padding: 6px;
  }

  .selected-dropdown-option {
    padding: 5px 14px;
    font-size: 13px;
  }

  .dropdown-option {
    padding: 5px 14px;
    font-size: 13px;
  }
}

/* Desktop */
@media screen and (min-width: 1440px) {
  .filter-dropdown-wrapper {
    width: 200px;
  }

  .filter-dropdown-title {
    font-size: 14px;
  }

  .selected-dropdown-option {
    font-size: 14px;
  }

  .dropdown-option {
    font-size: 14px;
  }
}
