.admin-panel-page-wrapper {
  height: 100vh;
  background: linear-gradient(128deg, #2e9cfb 0%, #68aadd 46%, #2e9cfb 100%);
  padding: 20px;
}

/* HEADER */

.admin-panel-page-header {
  margin: 0px 0px 27px 0px;
}

/* BODY */
.admin-panel-body-wrapper {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

/* MENU */

.menu-wrapper {
  background-color: #f8f8f8;
  border-radius: 20px;
  height: 162px;
  width: 180px;
  display: flex;
  flex-direction: column;
  padding: 15px 7px;
  overflow: auto;
}

.selected-menu-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  background-color: #dddddd;
  border-radius: 25px;
  height: 44px;
}

.selected-menu-option-icon-wrapper {
  border-radius: 50px;
  background-color: #36a2fe;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected-menu-option-icon {
  width: 15px;
  height: 15px;
  color: white;
}

.selected-menu-option-name {
  font-size: 14px;
  font-weight: bold;
}

.menu-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 44px;
}

.menu-option-icon-wrapper {
  width: 50px;
  height: 50px;
  display: flex;
  padding-left: 25px;
  align-items: center;
}

.menu-option-icon {
  width: 15px;
  height: 15px;
  color: #717171;
}

.menu-option-name {
  text-align: left;
  font-size: 14px;
  color: #717171;
}

/* MAIN BODY */

.admin-panel-main-body-wrapper {
  background-color: #f8f8f8;
  border-radius: 20px;
  height: 590px;
  width: 1355px;
}
