.admin-panel-page-wrapper {
  height: 100vh;
  background: linear-gradient(128deg, #2e9cfb 0%, #68aadd 46%, #2e9cfb 100%);
  padding: 20px;
}

/* HEADER */

.admin-panel-page-header {
  margin: 0px 0px 27px 0px;
}

/* BODY */
.admin-panel-body-wrapper {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

/* MAIN BODY */

.admin-panel-main-body-wrapper {
  background-color: #f8f8f8;
  border-radius: 20px;
  height: 590px;
  width: 1355px;
  max-height: 590px;
  max-width: 1355px;
  overflow: hidden;
  position: relative;
}

/* Responsiveness */

/* Tablet */
@media screen and (min-width: 768px) {
}

/* Laptop */
@media screen and (min-width: 1024px) {
}

/* Desktop */
@media screen and (min-width: 1440px) {
}
