# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules/
**/node_modules/

# frontend
dist/
build/
**/dist/
**/build/
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment files
.env
backend/config/config.json
.env.*


# database files and folders
backend/config/config.json

# Vite / CRA cache
.vite/
.cache/