.conversation-detail-view {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.back-button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 6px 23px;
  border-radius: 22px;
  background-color: #ffffff;
  box-shadow: 0px 4px 15px #b7b7b738;
  color: #676666;
  border: none;
  font-size: 14px;
  width: fit-content;
}

.back-button {
  width: 17px;
  height: 17px;
}

.conversation-window-wrapper {
  background-color: #ffffff;
  border: 1px solid #c9c9c9;
  width: 100%;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
}

/* HEADER */

.user-info-header {
  border-bottom: 1px solid #c9c9c9;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.profile-picture {
  margin: 10px 30px;
  padding: 10px 20px;
  border-radius: 50%;
  color: #2e9cfb;
  background-color: #e6f4ff;
  font-weight: bold;
  font-size: x-large;
}

.user-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.user-mail {
  font-size: large;
}

.time {
  color: #7f7a7a;
  font-size: 11px;
}

/* CONVERSATION WINDOW */

.conversation-window {
  /* margin: 15px 20px; */
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 423px;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  /* border: 1px solid #2e9cfb; */
}

*::-webkit-scrollbar {
  display: none;
}

.details-view-message-bubble {
  width: fit-content;
  font-size: 14px;
  padding: 8px 20px;
}

.details-view-message-bubble:first-child {
  margin-top: 15px;
}

.details-view-message-bubble:last-child {
  margin-bottom: 15px;
}

.details-view-ai-message-bubble {
  margin-left: 20px;
  align-self: flex-start;
  background-color: #f3f3f3;
  border-radius: 13px 13px 13px 0px;
}

.details-view-user-message-bubble {
  margin-right: 20px;
  color: white;
  align-self: flex-end;
  background: linear-gradient(92deg, #2e9cfb 0%, #68aadd 52%, #2e9cfb 100%);
  border-radius: 13px 13px 0px 13px;
}

.loading-conversation-detail {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #858585;
}
