.improve-agent-modal-close-button-wrapper {
  display: flex;
  justify-content: end;
  align-items: center;
}

.modal-close-button {
  border: none;
  background-color: transparent;
}

.modal-close-button-icon {
  height: 20px;
  width: 20px;
}

.modal-close-button :hover {
  cursor: pointer;
  color: rgb(113, 113, 113);
}

/* TITLE */
.title-wrapper {
  margin-bottom: 30px;
}

/* MAIN BODY */
.improve-agent-modal-body {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 35px;
}

/* REASON WRAPPER*/
.reason-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.reason-title {
  font-size: 14px;
}

.reason-data {
  background-color: white;
  height: 70px;
  border-radius: 20px;
  padding: 7px 13px;
  font-size: 13px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.058);
}

/* SOLUTION WRAPPER*/
.solution-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.solution-title {
  font-size: 14px;
}

.solution-data {
  background-color: white;
  height: 100px;
  border-radius: 20px;
  padding: 7px 13px;
  font-size: 13px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.052);
}

/* BUTTONS */
.improve-agent-modal-button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 20px;
}

.reject-button {
  width: 95px;
  padding: 6px 17px 8px 17px;
  border: none;
  border: 1px solid #c9c9c9;
  background-color: white;
  border-radius: 22px;
  font-size: 14px;
  text-align: center;
}

.reject-button:hover {
  cursor: pointer;
}

.reject-button:active {
  background-color: rgb(245, 245, 245);
}

.approve-button {
  width: 95px;
  padding: 6px 17px 8px 17px;
  background-color: #36a2fe;
  color: white;
  border: none;
  border-radius: 22px;
  font-size: 14px;
  text-align: center;
}

.approve-button:hover {
  cursor: pointer;
}

.approve-button:active {
  background-color: #5fb4ff;
}
