.chatbot-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100vh;
  padding-right: 20px;
  padding-bottom: 20px;
}

.chatbot-button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: transparent;
  border: none;
}

.chatbot-slot {
  border-radius: 22px;
  background: linear-gradient(92deg, #2e9cfb 0%, #68aadd 52%, #2e9cfb 100%);
  height: 550px;
  width: 430px;
  display: flex;
  flex-direction: column;
}

.chatbot-button:hover {
  border: 1px solid #a9d6fd61;
  box-shadow: 0px 1px 10px #a9d6fd61;
  cursor: pointer;
}

.chatbot-icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

/* Responsiveness */

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .chatbot-wrapper {
    height: 100vh;
    padding-right: 15px;
    padding-bottom: 15px;
  }

  .chatbot-button {
    width: 75px;
    height: 75px;
  }

  .chatbot-slot {
    height: 650px;
    width: 500px;
    border-radius: 24px;
  }
}

/* Laptop */
/* @media screen and (min-width: 1024px) and (max-width: 1439px) {
} */

/* Desktop */
@media screen and (min-width: 1440px) {
  .chatbot-wrapper {
    height: 100vh;
    padding-right: 25px;
    padding-bottom: 17px;
  }

  .chatbot-button {
    width: 100px;
    height: 100px;
  }

  .chatbot-slot {
    height: 657px;
    width: 500px;
    border-radius: 24px;
  }
}
