.instruction {
  position: fixed;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  color: white;
  font-size: 60px;
  background-color: rgba(0, 0, 0, 0.879);
  display: flex;
  justify-content: center;
  align-items: center;
}

.instruction-highlight {
  position: fixed;
  z-index: 2;
  height: 100vh;
  width: 100vw;
  font-size: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.instruction-highlight div {
  height: 18%;
  width: 8%;
  border-radius: 50% 50% 0px 50%;
  background-color: white;
}

.chatbot-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100vh;
  padding-right: 20px;
  padding-bottom: 20px;
}

.chatbot-button {
  position: relative;
  z-index: 4;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background: transparent;
  border: none;
  padding: 0;
}

.chatbot-slot {
  border-radius: 22px;
  background: linear-gradient(92deg, #2e9cfb 0%, #68aadd 52%, #2e9cfb 100%);
  height: 500px;
  width: 340px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  box-sizing: border-box;
  overflow: hidden;
}

.chatbot-button:hover {
  border: 1px solid #a9d6fd61;
  box-shadow: 0px 1px 10px #a9d6fd61;
  cursor: pointer;
}

.chatbot-icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .chatbot-wrapper {
    padding-right: 15px;
    padding-bottom: 15px;
  }

  .chatbot-button {
    width: 58px;
    height: 58px;
  }

  .chatbot-slot {
    height: 520px;
    width: 360px;
    border-radius: 24px;
    padding: 5px;
    box-sizing: border-box;
    overflow: hidden;
  }
  .instruction {
    padding: 23%;
  }

  .instruction-highlight div {
    height: 10%;
    width: 13%;
  }
}

/* Laptop */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .instruction-highlight div {
    height: 15%;
    width: 10%;
  }

  .chatbot-wrapper {
    padding-right: 22px;
    padding-bottom: 22px;
  }

  .chatbot-button {
    width: 60px;
    height: 60px;
  }

  .chatbot-slot {
    height: 540px;
    width: 370px;
    border-radius: 24px;
    padding: 5px;
    box-sizing: border-box;
    overflow: hidden;
  }
}

/* Desktop */
@media screen and (min-width: 1440px) {
  /* .instruction-highlight div {
    height: 1%;
    width: 9%;
  } */
  .chatbot-wrapper {
    padding-right: 25px;
    padding-bottom: 20px;
  }

  .chatbot-button {
    width: 62px;
    height: 62px;
  }

  .chatbot-slot {
    height: 560px;
    width: 380px;
    border-radius: 24px;
    padding: 5px;
    box-sizing: border-box;
    overflow: hidden;
  }
}
