/* MENU */

.menu-wrapper {
  background-color: #f8f8f8;
  border-radius: 20px;
  height: 162px;
  width: 180px;
  display: flex;
  flex-direction: column;
  padding: 14px 7px;
  overflow: auto;
}

.selected-menu-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  background-color: #dddddd;
  border-radius: 25px;
  height: 44px;
}

.selected-menu-option-icon-wrapper {
  border-radius: 50px;
  background-color: #36a2fe;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected-menu-option-icon {
  width: 15px;
  height: 15px;
  color: white;
}

.selected-menu-option-name {
  font-size: 14px;
  font-weight: bold;
}

.menu-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 44px;
}

.menu-option-icon-wrapper {
  width: 50px;
  height: 50px;
  display: flex;
  padding-left: 25px;
  align-items: center;
}

.menu-option-icon {
  width: 15px;
  height: 15px;
  color: #717171;
}

.menu-option-name {
  text-align: left;
  font-size: 14px;
  color: #717171;
}

/* Responsiveness */

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .menu-wrapper {
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 8px 14px;
    gap: 10px;
    border-radius: 30px;
    flex-shrink: 0;
    margin-bottom: 20px;
  }

  .selected-menu-option {
    gap: 8px;
    height: 42px;
    padding-right: 16px;
    border-radius: 25px;
  }

  .selected-menu-option-icon-wrapper {
    width: 40px;
    height: 40px;
  }

  .selected-menu-option-icon {
    width: 14px;
    height: 14px;
  }

  .selected-menu-option-name {
    font-size: 14px;
  }

  .menu-option {
    height: 42px;
    gap: 6px;
  }

  .menu-option-icon-wrapper {
    width: 40px;
    height: 40px;
    padding-left: 10px;
  }

  .menu-option-name {
    font-size: 14px;
  }
}

/* Laptop */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .menu-wrapper {
    height: 162px;
    width: 165px;
    flex-direction: column;
    padding: 12px 6px;
    border-radius: 20px;
  }

  .selected-menu-option {
    height: 42px;
    gap: 8px;
  }

  .selected-menu-option-icon-wrapper {
    width: 42px;
    height: 42px;
  }

  .selected-menu-option-icon {
    width: 14px;
    height: 14px;
  }

  .selected-menu-option-name {
    font-size: 13px;
  }

  .menu-option {
    height: 42px;
  }

  .menu-option-icon-wrapper {
    width: 46px;
    height: 46px;
    padding-left: 22px;
  }

  .menu-option-icon {
    width: 14px;
    height: 14px;
  }

  .menu-option-name {
    font-size: 13px;
  }
}

/* Desktop */
@media screen and (min-width: 1440px) {
  .menu-wrapper {
    height: 162px;
    width: 180px;
    flex-direction: column;
    padding: 14px 7px;
    border-radius: 20px;
  }

  .selected-menu-option {
    height: 44px;
    gap: 10px;
  }

  .selected-menu-option-name {
    font-size: 14px;
  }

  .menu-option-name {
    font-size: 14px;
  }
}
