.overlay {
  /* position: fixed;
  top: 87px;
  bottom: 18.5px;
  left: 209px;
  right: 20px; */
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.dialog-box {
  position: absolute;
  background-color: #f8f8f8;
  border-radius: 20px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.4);
  padding: 25px;
}
