.ChatBox-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-space {
  flex: 1;
  min-height: 0;
  border-radius: 17px;
  background-color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .chat-space {
    border-radius: 19px;
  }
}

/* Laptop */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .chat-space {
    border-radius: 19px;
  }
}

/* Desktop */
@media screen and (min-width: 1440px) {
  .chat-space {
    border-radius: 19px;
  }
}
