.chatbox-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  /* border: 1px solid; */
}

.chatbot-icon-wrapper {
  display: flex;
  gap: 10px;
}

.chatbot-icon-img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.chatbot-info {
  color: white;
  gap: 7px;
}

.chatbot-info h4 {
  font-size: 16px;
}

.chatbot-info p {
  font-size: 12px;
}

.close-chatbox {
  height: 20px;
  width: 20px;
  border-radius: 48%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: rgba(255, 255, 255, 0.203);
}

.minus-icon {
  height: 13px;
  width: 13px;
  color: white;
  font-size: large;
}

.close-chatbox:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.279);
}
