.chatbot-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100vh;
  padding-right: 20px;
  padding-bottom: 10px;
}

.chatbot-button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: transparent;
  border: none;
}

.chatbot-slot {
  border-radius: 22px;
  background: linear-gradient(92deg, #2e9cfb 0%, #68aadd 52%, #2e9cfb 100%);
  height: 550px;
  width: 430px;
  display: flex;
  flex-direction: column;
}

.chatbot-button:hover {
  border: 1px solid #a9d6fd61;
  box-shadow: 0px 1px 10px #a9d6fd61;
  cursor: pointer;
}

.chatbot-icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
