.admin-panel-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left-admin-panel-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.admin-panel-header-icon-wrapper {
  display: flex;
  gap: 8px;
  align-items: center;
}

.admin-panel-header-icon-img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.admin-panel-header-info {
  color: white;
}

.admin-panel-header-info p {
  font-size: 18px;
}
